.fila-profesores .profesor {
    display: flex;
}

.profesor{
    padding: 10px;
    display: flex;
    margin-right: 10px;
    align-items: center;
    text-align: left;
    gap: 15px;
}

.avatar{
    background-color: #ff6d54;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 10px;
    font-weight: bold;
}

.email{
    margin-left: 10px;
}
    
.nivel {
    background-color: #a2c5ff;
    padding: 5px 15px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-left: 10px;
}
  
.nivel:hover{
    background-color: #aea2ff;
}

.boton-editar {
    background-color: rgb(192, 80, 0);
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 5px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.boton-editar:hover{
    background-color: rgb(255, 106, 0);
}

.boton-eliminar{
    background-color: darkred;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-left: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.boton-eliminar:hover {
    background-color: #c62828; /* Un rojo más claro */
  }

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-opciones-container{
    position: relative;
    overflow: visible;
}

.menu-opciones{
    border: none;
    margin: 0;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
  }

  .tooltip-text {
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transform: translateX(-70%);
    pointer-events: auto;
    white-space: nowrap;
    z-index: 9999; /* Se asegura de estar encima */
}
