body {
    background-color: #bfeede; 
    margin: 0;
    font-family: Arial, sans-serif;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.left-nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.left-nav a:hover {
    color: #ffcc00;
}

.right-nav .login-button {
    display: flex;
    padding: 10px 15px;
    background-color: #e88670;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 16px;
    justify-content: flex-end;
    transition: background-color 0.3s ease;
}

.right-nav .login-button:hover {
    background-color: #d75c47;
}

/* Estilos de la sección Mis Cursos */
.mis-cursos {
    padding-top: 120px; /* Espacio para el menú fijo */
    text-align: center; /* Asegura que el texto se centre */
}

.cursos-title {
    color: #5f9ea0;
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px; /* Ajusta el margen superior para separar del contenido anterior */
    margin-bottom: 10px; /* Añadir espacio debajo del título */
}

/* Contenedor de las tarjetas de cursos */
.cursos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-template-rows: repeat(2, auto); /* Dos filas */
    gap: 20px;
    padding: 20px;
}

/* Tarjetas de cursos */
.curso-card {
    background-color: #5f9ea0; /* Fondo de las tarjetas */
    border: 1px solid #89a4a5; /* Borde de las tarjetas */
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s, box-shadow 0.3s; /* Efecto al pasar el mouse */
    padding: 10px;
}

.curso-card:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
}

.curso-card img {
    width: 50%; 
    height: auto; /* Mantener la proporción del alto automáticamente */
    max-height: 200px; /* Limitar la altura máxima */
    object-fit: contain; /* Asegura que la imagen se ajuste sin perder la proporción */
    margin: 10px auto; /* Centra la imagen dentro de la tarjeta */
}

.curso-card h2 {
    padding: 10px;
    font-size: 18px;
    color: #333;
    margin-top: 10px;
}

.curso-card p {
    font-size: 14px;
    color: #666;
}
