/* Estilo general del contenedor */
.curso-detalles-container {
    padding: 40px 20px;  /* Más espacio arriba */
    text-align: center;
    background-color: #bfeede;
    min-height: 100vh;
    margin-top: 200px;
  }
  
  .curso-detalles-container h1 {
    font-size: 2rem;
    color: #5f9ea0;
  }
  
  .curso-detalles-container p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
  }
  
  /* Estilo del contenedor de tarjetas */
  .tarjetas-detalles {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que las tarjetas se adapten a pantallas pequeñas */
    margin-top: 50px;  /* Desplaza las tarjetas más abajo */
  }
  
  /* Estilo para cada tarjeta */
  .tarjeta-detalle {
    background-color: #5f9ea0;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido esté distribuido */
  }

  .tarjeta-imagen {
    width: 100%; /* Asegura que la imagen ocupe el 100% del ancho del contenedor */
    height: 150px; /* Puedes ajustar la altura de las imágenes según lo que necesites */
    object-fit: cover; /* Asegura que la imagen se recorte para cubrir el área sin deformarse */
    border-radius: 10px;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
  }
  
  .tarjeta-detalle h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .tarjeta-detalle p {
    font-size: 1rem;
    color: #555;
  }
  
  .tarjeta-detalle:hover {
    transform: translateY(-5px); /* Efecto de "flotar" al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
/* Estilo para el link de volver */
.volver-link {
    display: inline-block;
    margin-top: 30px;
    font-size: 1rem;
    color: #5f9ea0;
    text-decoration: none;
    border: 1px solid #5f9ea0;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold; /* Hace el texto más negrita */
  }
  
  .volver-link:hover {
    background-color: #5f9ea0;
    color: #fff;
  }
  
  