.fila-profesor .icono-nombre {
  display: flex;  
}

.icono-nombre{
  padding: 10px;
  display: flex;
  margin-right: 10px;
  align-items: center;
  text-align: left;
}
  
.avatar {
  background-color: #ff6d54;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-left: 10px;
  font-weight: bold;
}

.email{
  margin-left: 10px;
}
  
.nivel {
  background-color: #a2c5ff;
  padding: 5px 12px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  color: #333;
  margin-left: 10px;
}

.nivel:hover{
  background-color: #aea2ff;
}
  
.boton-aceptar,
.boton-eliminar {
  background-color: teal;
  color: white;
  border: none;
  padding: 6px 12px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.boton-aceptar:hover {
  background-color: #00a494; /* Un tono más claro al pasar el mouse */
}
  
.boton-eliminar {
  background-color: darkred;
}

.boton-eliminar:hover {
  background-color: #c62828; /* Un rojo más claro */
}

.menu-opciones-container {
  position: relative;
  display: inline-block;
}

.menu-opciones{
  border: none;
  padding: 6px 12px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  background-color: transparent;
}

.tooltip-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.tooltip-button:hover {
  color: #ddd;
}

.tooltip-text {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 8px;
  border-radius: 5px;
  white-space: nowrap;
  left: 100%;  /* Tooltip aparece a la derecha */
  top: 50%;     /* Alinea verticalmente con el centro del botón */
  transform: translateY(-50%);  /* Centra verticalmente el tooltip */
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0s 0.2s;
}

.menu-opciones-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}