/* Asegura que la imagen y el contenido se ajusten bien al diseño */
.article-content {
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  
  .back-link {
    display: inline-block;
    margin-top: 2rem;
    color: #319795;
    text-decoration: none;
    font-weight: bold;
  }
  
  .back-link:hover {
    text-decoration: underline;
  }
  

  .article-image {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px; /* Si quieres bordes redondeados */
  }
  