.tablaProfesor-contenedor{
    width: 100%;
    margin: 0 ;
    text-align: left;
  }
  
  .tablaProfesor-tabla {
    height: auto;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    scrollbar-width: thin;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
    
  .tablaProfesor-tabla tr {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px 15px;
  }
  
  .tablaProfesor-tabla th{
    font-weight: bold;
    text-align: center; /* Hace los textos del encabezado en negrita */
    padding: 10px 20px;
    background-color: #2c7a7b; /* Color of header */
    color: #ffffff; /* Header text color */
    text-transform: uppercase; /* Convert header text to uppercase */
  }

  .tablaProfesor-tabla td {
    text-align: left;
    border: 1px solid #ddd;
  }

  .tablaP-scroll{
    max-height: 500px; /* Ajusta la altura máxima según necesites */
    overflow-y: auto; /* Activa la barra de desplazamiento vertical */
    overflow-x: hidden; /* Evita la barra horizontal si no es necesaria */
    border: 1px solid #ccc;
  }

  .tablaP-scroll::-webkit-scrollbar {
    width: 8px; /* Ancho del scrollbar */
}

.tablaP-scroll::-webkit-scrollbar-thumb {
    background-color: #aaa; /* Color del scrollbar */
    border-radius: 4px;
}

.tablaP-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Color al pasar el cursor */
}

.tablaP-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; /* Fondo de la barra */
}

.tablaP-scroll tr{
    display: table;
    width: 100%;
    table-layout: fixed;
}

  .añadirProfesor{
    background-color: #2c7a7b;
    padding: 7px 70px;
    display: flex;
  }

  .boton-añadir{
    background-color: rgb(61, 192, 0);
    color: white;
    border: none;
    padding: 6px 18px;
    margin-right: 5px;
    margin-left: -60px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
  }

  .boton-añadir:hover{
    background-color: rgb(47, 150, 0);
  }
  
    
  .tablaProfesor-tabla thead {
    position: sticky;
    top: 0;
    background-color: #2c7a7b; /* Color de fondo del encabezado */
    color: #ffffff; /* Color del texto */
    z-index: 2;
  }

  .tablaProfesor-tabla tbody{
    display: table-row-group;
  }

  
  .tablaProfesor-tabla tbody tr:nth-child(even) {
    background-color: #f1f1f1; /* Color para filas pares */
  }

  .tablaProfesor-tabla tbody tr:nth-child(odd){
    background-color: #e8e6e6; /*Color para filas impares*/
  }
  
  .tablaProfesor-tabla tbody tr:hover {
    background-color: #dcf9f7; /* Cambio de color al pasar el mouse */
    transition: background-color 0.3s ease-in-out;
  }

  .tablaProfesor-tabla th:nth-child(2),
  .tablaProfesor-tabla td:nth-child(2) {
    width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .filtro-nivel {
    margin: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.select-nivel {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}