.titulo-contenedor {
  display: flex;
  flex-direction: row; 
  align-items: center; /* Alinear verticalmente */ 
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
  }

  .titulo-textos {
    display: flex;
    text-align: left;
    flex-direction: column; /* Apila los textos (nombre y contador) verticalmente */
    justify-content: flex-start; /* Alinea hacia arriba */
  }

  .titulo-nombre {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 8px 0; /* Espacio inferior para separar del contador */
    color: black;
  }

  .titulo-contador {
    font-size: 1.2rem;
    color: rgb(214, 0, 0);
    font-weight: bold;
    margin: 0; /* Asegura que no haya margen adicional */
  }

  .cantidad {
    color: red; /* Número de solicitudes en rojo */
    font-weight: bold;
  }


  .logo-img {
    width: 300px; /* Ajusta el ancho */
    height: auto; /* Ajusta el alto si es necesario */
    margin-right: 20px; /* Ajusta este margen */
  }
  