.inicio-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00a6a6;
    color: white;
    padding: 10px 20px;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.search-container {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.search-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-container button {
    padding: 10px;
    background-color: #007777;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
